
body{
    background-color: #222222;
    color: white;
    font-family: 'Alegreya', serif;
}
.container{
    background-color: #111111;
}
hr{
    background-color: #555555;
}
h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: -5px;
    font-family: 'Cinzel', serif;
}
h3{
    text-align: center;
    font-family: 'Alegreya', serif;
}
summary{
    border: double 3px grey;
    border-radius: 10px;
}
.img-fluid{
    max-width: 80%;
    height: 300px;
}
.game{
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515
}
.selectBox{
    border: double 3px grey;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    max-height: 238px;
}
.frontID{
    margin-left: -15px;
    margin-right: -100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: double;
    border-right-width: 3px;
    border-right-color: grey;
    width: 232px;
    height: 232px;
}
.frontText{
    font-size: 80px;
    text-align: left;
    margin-left: 100px;
    margin-top: 59px;
}
.frontReturn{
    margin-left: auto;
    margin-right: auto;
}
.bodyItem{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.bodyImage{
    text-align: left;
    border: double 3px grey;
    border-radius: 10px;
    max-width: 600px;
}
details:active{
    color: grey;
}
#name
{
    font-size: 4em;
    margin-top: 25px;
    text-align: center;
}
#title
{
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
}
#email{
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515;
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}
#refrences{
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515;
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}
#submit{
    border-radius: 10px;
}
#intro{
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}
#recentText{
    text-align: center;
    margin-bottom: 1px;
    background-color: #151515;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 1.0em;
}
#recentTitle{
    text-align: center;
    background-color: #151515;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #111111;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 2.12em;
}
#shadowGenGif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 100%;
}
#shadowGenGif2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 50%;
}
#portrait{
    border: double 3px grey;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#navbar{
    border: double 3px grey;
    border-radius: 10px;
    background-color: #151515;
    text-decoration: none;
    padding: 0px;
}
#resume{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}

.selectBox:hover{
    animation-name: hoverColor;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.selectLink{
    color: white;
    text-decoration: none;
}
.selectLink:hover{
    color: white;
    text-decoration: none;
}
.selectLink:active{
    color: white;
    text-decoration: none;
}

@keyframes hoverColor{
    from {background-color: #111111;}
    to {background-color:  #cc5490;}
}

a{
    color: hotpink;
    text-decoration: none;
}
a:hover{
    color: deeppink;
}
a:active{
    color: pink;
}
@media (max-width:755px){
    #portrait{
        margin-bottom: 15px;
    }
    #resume{
        text-align: left;
    }
}
@media (max-width:991px){
.frontID{
    margin-left: -15px;
    margin-right: -100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: double;
    border-right-width: 3px;
    border-right-color: grey;
    width: 182px;
    height: 182px;
}
.frontText{
    font-size: 50px;
    text-align: left;
    margin-left: 100px;
    margin-top: 52px;
}
}
@media (max-width:768px){
.frontID{
    margin-left: -15px;
    margin-right: -100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: double;
    border-right-width: 3px;
    border-right-color: grey;
    width: 132px;
    height: 132px;
}
.frontText{
    font-size: 30px;
    text-align: left;
    margin-left: 100px;
    margin-top: 42px;
}
.bodyImage{
    text-align: left;
    border: double 3px grey;
    border-radius: 10px;
    max-width: 300px;
}
}
@media (max-width:575px){
 .selectBox{
    border: double 3px grey;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    max-height: 238px;
    max-width: 143px;
}
.frontID{
    margin-left: -15px;
    margin-right: -100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: double;
    border-right-width: 3px;
    border-right-color: grey;
    border-bottom-style: double;
    border-bottom-width: 3px;
    border-bottom-color: grey;
    width: 137px;
    height: 137px;
}
.frontText{
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
    margin-top: 12px;
}
}