body {
    background-color: #222222;
    color: white;
    font-family: 'Alegreya', serif;
}

.container {
    background-color: #111111;
}

hr {
    background-color: #555555;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: -5px;
    font-family: 'Cinzel', serif;
}

h3 {
    text-align: center;
    font-family: 'Alegreya', serif;
}

summary {
    border: double 3px grey;
    border-radius: 10px;
}

.img-fluid {
    max-width: 80%;
    height: 300px;
}

.game {
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515
}

.selectBox {
    border: double 3px grey;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    max-height: 238px;
}

.frontID {
    margin-left: -15px;
    margin-right: -100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: double;
    border-right-width: 3px;
    border-right-color: grey;
    width: 232px;
    height: 232px;
}

.frontText {
    position: relative;
    font-size: 60px;
    padding-top: 19px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: double;
    border-right-width: 3px;
    border-right-color: grey;
    left: 82px;
    width: 355px;
    height: 232px;
}

.projectDescription {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(25, 25, 25, 1) 3%, rgba(25, 25, 25, 1) 97%, rgba(0, 0, 0, 1) 100%);
    border-radius: 7px;
    margin-left: -12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -20px;
    position: relative;
    left: 92px;
    font-size: 28px;
    text-align: left;
    height: 232px;
    width: 473px;
}

.projectDescription ul {
    font-size: 1.4rem;
    width: 443px;
}

.frontReturn {
    margin-left: auto;
    margin-right: auto;
}

.bodyItem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bodyImage {
    text-align: left;
    border: double 3px grey;
    border-radius: 10px;
    max-width: 600px;
}

details:active {
    color: grey;
}

#name {
    font-size: 4em;
    margin-top: 25px;
    text-align: center;
}

#title {
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
}

#email {
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515;
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}

#refrences {
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515;
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}

#submit {
    border-radius: 10px;
}

#intro {
    border: double 3px grey;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #151515;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

#recentText {
    text-align: center;
    margin-bottom: 1px;
    background-color: #151515;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 1.0em;
}

#recentTitle {
    text-align: center;
    background-color: #151515;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #111111;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 2.12em;
}

.currentImageItem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 100%;
}

#portraitBottom {
    border: double 3px grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    width: 50%;
    text-align: center;
}

#portraitTop {
    border: double 3px grey;
    margin-left: auto;
    margin-right: auto;
    max-width: 23%;
}

#navbar {
    border: double 3px grey;
    border-radius: 10px;
    background-color: #151515;
    text-decoration: none;
    padding: 0px;
}

#resume {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
}

.selectBox:hover {
    cursor: pointer;
    animation-name: hoverColor;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.selectLink {
    color: white;
    text-decoration: none;
}

.selectLink:hover {
    color: white;
    text-decoration: none;
}

.selectLink:active {
    color: white;
    text-decoration: none;
}

@keyframes hoverColor {
    from {
        background-color: #111111;
    }

    to {
        background-color: #cc5490;
    }
}

a {
    color: hotpink;
    text-decoration: none;
}

a:hover {
    color: deeppink;
}

a:active {
    color: pink;
}

@media (max-width:755px) {
    #portrait {
        margin-bottom: 15px;
    }

    #resume {
        text-align: left;
    }
}

@media (max-width:1199px) {
    .selectBox {
        max-height: 208px;
    }

    .frontID {
        height: 202px;
    }

    .frontText {
        font-size: 50px;
        left: 82px;
        width: 305px;
        height: 202px;
    }

    .projectDescription {
        left: 101px;
        font-size: 1.3rem;
        height: 202px;
        width: 345px;
    }

    .projectDescription ul {
        font-size: 1.2rem;
        width: 320px;
    }
}

@media (max-width:991px) {
    .selectBox {
        max-height: 158px;
    }

    .frontID {
        height: 152px;
        width: 152px;
    }

    .frontText {
        font-size: 30px;
        left: 72px;
        width: 185px;
        height: 152px;
    }

    .projectDescription {
        left: 51px;
        font-size: 1.1rem;
        height: 152px;
        width: 315px;
    }

    .projectDescription ul {
        font-size: 0.90rem;
        width: 290px;
    }
}

@media (max-width:767px) {
    .selectBox {
        max-height: 128px;
    }

    .frontID {
        height: 122px;
        width: 122px;
    }

    .frontText {
        font-size: 21px;
        left: 72px;
        width: 135px;
        height: 122px;
    }

    .projectDescription {
        left: 62px;
        font-size: 0.8rem;
        height: 122px;
        width: 213px;
    }

    .projectDescription ul {
        font-size: 0.69rem;
        width: 193px;
    }

    .bodyImage {
        text-align: left;
        border: double 3px grey;
        border-radius: 10px;
        max-width: 300px;
    }
}

@media (max-width:575px) {
    .selectBox {
        text-align: center;
        border: double 3px grey;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        max-height: 738px;
        max-width: 197px;
    }

    .frontID {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 10px;
        border-style: double;
        border-width: 3px;
        border-color: grey;
        width: 190px;
        height: 190px;
    }

    .frontText {
        display: none;
    }

    .projectDescription {
        text-align: center;
        left: -79px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 0.8rem;
        margin-bottom: 0px;
        height: 162px;
        width: 190px;
    }

    .projectDescription ul {
        font-size: 0.69rem;
        width: 170px;
        margin-left: -10px;
        margin-top: 5px;
    }
}

html {
    scroll-behavior: smooth;
}
